.main {
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    border-top: 1px solid #eaeceb;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.sortWrapper {
    /*margin-left: 300px;*/
    margin-bottom: 20px;
    display: flex;
    justify-content: right;

    .search {
        margin-right: auto;
        /*margin-right: 20px;*/
        width: 600px;
        margin-left: 300px;
    }

    .sortWrapper_input, .sortWrapper_select {
        background-color: white;
        border: 1px solid #eaeceb;
        border-radius: 3px;
        outline: none;
        color: black;
        padding: 2px 5px;
        height: 30px;
        /*min-width: 200px;*/
    }

    .select_disabled[disabled] {
        color: #999;
    }

    .sortWrapper_button {
        height: 30px;
        padding: 5px 10px;
        margin-left: 15px;

        &:disabled {
            cursor: default;
            border-color: #eaeceb;
            background-color: #eaeceb;
            color: #85e28f;
        }
    }
}

.left {
    /*width: 20%;*/
    margin-right: 30px;
    width: 270px;

    .left_li {
        margin-bottom: 10px;
        padding: 5px 10px;
        border-top: 1px solid #eaeceb;
    }
    .left_h3 {
        font-weight: normal;
        margin-bottom: 3px;
    }
}

.inputFilters {
    display: flex;
    flex-direction: column;
    /*max-width: 180px;*/
    /*overflow: hidden;*/

    .inputs {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3px;

        .inputFilters_input {
            max-width: calc(100% / 2 - 25px);
            background-color: white;
            border: 1px solid #eaeceb !important;
            border-radius: 3px;
            outline: none;
            color: black;
            padding: 2px 5px;
            height: 24px;
        }
        .inputFilters_span {
            margin: 0 5px;
        }

        .inputFilters_button {
            padding: 0 5px;
            margin-left: auto;
            height: 24px;
            width: 30px;
            border: 1px solid #eaeceb !important;
            border-radius: 3px;
            outline: none;
            cursor: pointer;
        }
    }


}

.sliderContainer {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
}

.manufacturer {
    .manufacturer_input {
        margin-right: 8px;
    }
}

.condition {
    .condition_input {
        margin-right: 8px;
    }
}

.right {
    width: 1100px;
}

.product {
    display: flex;
    flex-direction: row;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 18px;
    }

    &:hover {
        background-color: #eaeceb;
        outline: 1px solid #eaeceb;

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            right: -2px;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-top: 25px solid white;
            rotate: 90deg;
        }

        button {
            display: block;
        }
    }

    .img {
        object-fit: cover;
        margin-right: 15px;
        cursor: pointer;
        min-width: 400px;
    }

    h3 {
        margin-top: 10px;
    }

    button {
        cursor: pointer;
        padding: 10px 20px;
        margin-bottom: 5px;
        margin-top: auto;
        width: max-content;
        background-color: #85e28f;
        border: none;
        position: absolute;
        right: 10px;
        top: 10px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
        display: none;

        &:hover {
            clip-path: none;
        }
    }
}

.productsSection {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 100%;

    p {
        margin-top: 10px;
        max-height: 189px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* приблизно кількість рядків */
        -webkit-box-orient: vertical;
    }
}

.productDescription {
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px 30px;
}


